 .add-todo-form {
  position: relative;
  display: flex;
  flex-direction: column;

  &__deadline {
    margin-bottom: 0;
  }

  &__label {
    position: relative;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
  }

  &__main-menu {
    padding: 20px 15px 15px 20px;
    margin-bottom: 20px;
  }

  &__warning-error-block {
    position: absolute;
    bottom: 10px;
    color: red;
    font-size: 12px;
  }

  &__warning-error-block {
    display: flex;
    flex-direction: column;
  }

  &__warning-error {
    position: absolute;
    top: 22px;
    font-size: 12px;
    color: red;
  }
}

.add-todo-form__btn.disabled {
  background-color: #5f535380;
  color: #fff;

  &:hover {
    transform: scale(1);
  }
}
