.add-todo-form {
  &__title {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.535);
  }

  &__input {
    width: 70%;
    height: 10px;
    margin-right: 15px;
    padding: 15px 0;
    margin-bottom: 10px;
  
    background-color: inherit;
    border: none;
  
    color: #a59292;
    font-size: 14px;
  
    outline: none;

    &::placeholder {
      color: #a59292;
    }
  }
}
