.add-todo-form {
  &__subtasks {
    position: relative;
  }

  &__subtasks-block {
    display: flex;
    flex-direction: column;
  }

  &__subtasks-block-title {
    display: block;
    font-weight: 600;
    margin-bottom: 18px;
  }

  &__subtask-label {
    display: flex;
    align-items: flex-start;
    color: rgba(0, 0, 0, 0.535);
    font-size: 14px;
  }

  &__new-subtask-block {
    display: flex;
    margin-bottom: 20px;
  }

  &__subtask-input {
    width: 70%;
    background-color: inherit;
    border: none;
    color: #a59292;
    font-size: 14px;
    outline: none;

    &::placeholder {
      color: #a59292;
    }
  }

  &__checkboxes-block {
    display: flex;
  }
}

.subtasks-error {
  position: absolute;
  font-size: 12px;
  color: red;
}
