.add-todo-form {
  &__subtask-label {
    display: flex;
    align-items: flex-start;
    color: rgba(0, 0, 0, 0.535);
    font-size: 14px;
  }

  &__new-subtask-block {
    display: flex;
    margin-bottom: 20px;
  }

  &__subtask-input {
    width: 70%;
    background-color: inherit;
    border: none;
    color: #a59292;
    font-size: 14px;
    outline: none;

    &::placeholder {
      color: #a59292;
    }
  }
}