.add-todo-form {
  &__btn {
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    opacity: 0.5;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &:enabled {
      opacity: 1;
    }

    &:enabled:hover {
      transform: scale(1.05);
      opacity: 1;
    }
  }

  &__submit-buttons {
    margin-top: 30px;
  }
}

.save-btn {
  margin-left: 10px;
  background-color: #02b134;
  color: #fff;
}

.reset-btn {
  background-color: #fd4d96;
  color: #fff;
}
