.todo {
  position: relative;
  height: 60px;
  padding: 0 20px 0 20px;
  background-color: #fff;
  overflow: hidden;
  transition: transform 0.3s;
  cursor: pointer;

  &__status-title-block,
  &__date-tag-block {
    display: flex;
    align-items: center;
  }


  &__complete-checkbox {
    position: relative;
    top: 1px;
    width: 16px;
    height: 16px;
    appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.535);
    background: #f7e631e3;
    border-radius: 2px;
    outline: none;
    cursor: pointer;

    &:checked:before {
      content: "✓";
      position: absolute;
      left: 1px;
      bottom: -2px;
      font-size: 20px;
      font-weight: 700;
      color: #02a02f;
    }
  }

  &__todo-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    height: 60px;
    border-bottom: 2px #eee14d75 solid;
  }

  &__todo-status-block {
    display: flex;
    align-items: center;
  }

  &__todo-label {
    display: flex;
    align-items: flex-start;
  }

  &__todo-tittle-block {
    width: 60%;
  }

  &__todo-title {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 13.5px;
    margin-left: 10px;
    padding-right: 20px;
    word-wrap: break-word;
  }

  &__todo-deadline-date {
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.398);
  }

  &__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #5f535325;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }


  &:hover {
    transform: scale(1.02);
  }

  &::first-letter {
    text-transform: uppercase;
  }
}

.todo-deadline-date {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 3px;
    right: 85px;
    width: 15px;
    height: 15px;
    background-image: url('../../../images/calendar-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;
  }
}
